{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky1">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src= "{{ s.image }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

<hr/>
<b> RECENT NEWS</b> <br><br>
<div class="news">
🎉2023.10: Awarded the China National Scholarship. <br><br>

🎉2023.09: Finished my internship at MSRA and officially started my Ph.D journey.<br><br>

🎉2023.07: <I>TransforLearn</I> was accepted by IEEE VIS 2023. Learn Transformer models with it~<br><br>

🎉2023.06: Obtained my bachelor's degree from Fudan University and awarded Outstanding Graduate of FDU. <br><br>

🎉2023.03: A preprint about capability analysis of GPT-series models was released on Arxiv. <br><br>

🎉2023.03: <i>VEQA</i> was published on IEEE TVCG and I will present it in IEEE VIS 2023 @ Melbourne~ <br><br>

🎉2022.09: Selected into Fudan Elite Ph.D Program, and started my early doctoral life. <br><br>
</div>
</div>
