{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky1">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src= "{{ s.image }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

<hr/>
<b> RECENT NEWS</b> <br><br>
<div class="news">
🎉2023.08: I was awarded the RedBird PhD Award of HKUST and will start my Ph.D journey. <br><br>

🎉2023.07: Our paper "Data Player: Automatic Generation of Data Videos with Narration-Animation Interplay" was accepted by IEEE VIS 2023. <br><br>

🎉2023.06: I finished my internship at MSRA and received the "Star of Tomorrow" Excellent Internship Award. <br><br>

🎉2023.06: I obtained my master's degree with honor from Tsinghua University and was awarded the Excellent Graduation Thesis of THU. <br><br>
</div>
</div>
